<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User List</title>
</head>
<body>
<h2>Update User Information</h2>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.password}"></td>
    <td>
      <a th:href="@{/edit/{id}(id=${user.id})}">Edit</a> </td>
    <td>
      <a th:href="@{/delete/{id}(id=${user.id})}">Delete</a>
    </td>
  </tr>
</table>
<br/>
<a th:href="@{/}">done</a>


</body>
</html>
